.Hero {
  display: flex;
  background: #8c8c8c;
  padding: 2em 2em;

  .video {
    flex: 1;

    video {
      border-radius: 4px;
      box-shadow: 0 0 4px 0px #000000ad;
    }
  }

  .text-content {
    flex: 1;
    padding: 1em;
  }

  .levarH2 {
    @include levarTitle;
    margin-bottom: 0;
  }

  .levarCopy {
    color: #fff;
  }

}
