/* #### Font Imports #### */
@import url('https://fonts.googleapis.com/css?family=Abel|Oswald|Roboto+Condensed|Roboto:300,400&display=swap');

@font-face {
  font-family: 'Bebas-Neue';
  src: url('./assets/fonts/BebasNeue-Regular.woff2') format('woff2'),
       url('./assets/fonts/BebasNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* ############################ */
/* #### STYLE GUIDE #START #### */

// Fonts
$fontRobot: 'Roboto', sans-serif;
$fontOswald: 'Oswald', sans-serif;
$fontAbel: 'Abel', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontRobotoCond: 'Roboto Condensed', sans-serif;
$fontBebasRegular: 'Bebas-Neue', sans-serif;

// font colors
$levarWhite: #fff;

// Header colors
$HeaderBG: #2d2d2d;

// Footer colors
$FooterBG: #2d2d2d;

// sidebar colors
$sidebarBaseColor: #2d2d2d;
$sidebarAccentColor: #4c4c4c;

// main colors
$mainColor: #dee9ee;
$progressbarColor: #2196f378;

// button colors
$primaryBtnColor: #2196F3;

// Mixins
@mixin levarTitle {
  display: -webkit-flex;
  display: flex;
  font-family: $fontBebasRegular;
  color: $levarWhite;
}

@mixin levarTitle5 {
  display: -webkit-flex;
  display: flex;
  font-family: $fontBebasRegular;
  color: $levarWhite;
  margin: 0;
  font-size: 1.5em;
  letter-spacing: .04em;
}

/* #### STYLE GUIDE #END #### */
/* ############################ */


/* #### Component/Container/View Imports #### */
@import './App';

/* #### views #### */
@import './views/Home/Home';
@import './views/About/About';

/* #### containers #### */
@import './containers/Header/Header';
@import './containers/Footer/Footer';

/* #### components #### */
@import './components/Loading/Loading';
@import './components/FeatureBar/FeatureBar';
@import './components/FeatureRow/FeatureRow';
@import './components/FeatureRowSingle/FeatureRowSingle';
@import './components/FourCarousel/FourCarousel';
@import './components/Hero/Hero';


/* #### Media Queries Styling #### */
$breakpoint-desktop: 960px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 320px;

/* Using SCSS variables to store breakpoints */

@media (min-width: $breakpoint-tablet) {

}

/* #### Global Styling #### */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: 100%;
}

.row {
  flex: 1;
}

.Footer {
  background: $FooterBG;
  color: $levarWhite;
}

.levarH2 {
  font-size: 2.5em;
  letter-spacing: .03em;
  line-height: 1.25em;
}

.levarCopy {
  font-family: $fontRoboto;
}

.levarBtn {
  font-family: $fontAbel;
  background: $primaryBtnColor;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 75px;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 1;
  transition: all .3s ease;

  &:hover {
    opacity: .8;
  }
}
