.Footer {
  width: 100%;
  padding: 3em 0 1em 0;

  .Footer-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 960px;
    margin: auto;

    .Footer-Top {
      flex: 1;
      display: flex;

      /* klaviyo form */
      form {
        font-family: $fontRoboto !important;

        .kwGIvD.kwGIvD, .kLhEFG.kLhEFG, .gQwSQo.gQwSQo {
          padding: 0;
        }

        .fxfLWS.fxfLWS.fxfLWS.fxfLWS.fxfLWS.fxfLWS .ql-editor p {
          text-align: left !important;

          strong {
            font-family: $fontBebasRegular !important;
            color: $levarWhite;
            margin: 0;
            font-size: 1.75em;
            letter-spacing: .04em;
          }
        }

        .fxfLWS.fxfLWS.fxfLWS.fxfLWS.fxfLWS.fxfLWS .ql-editor .ql-font-helvetica {
          font-family: $fontRoboto !important;
          font-size: 1.2em;
        }

        .kwGIvD.kwGIvD {
          padding: .5em 0em;
        }

        .izyMjd.izyMjd.izyMjd.izyMjd.izyMjd.izyMjd {
          font-family: $fontAbel !important;
          background: $primaryBtnColor;
        }
      }
    }

    .Footer-Bottom {
      flex: 1;
      padding-top: 3em;
      display: flex;
      justify-content: flex-end;

      p {
        margin: 0;
        font-family: $fontRobotoCond;
        color: #616161;
      }
    }

    .levarH5 {
      @include levarTitle5;
    }

    .levarCopy {
      margin-top: 0;
    }

    a {
      margin-top: 1em;
      text-decoration: none;
      font-family: $fontAbel;
      font-size: 1.25em;
      color: $primaryBtnColor;
    }

  }
}
